/* font */
@font-face{
    font-family: 'TT_Commons_Bold';
    src: url("../../fonts/TT_Commons_DemiBold/36265C_0_0.ttf") format("truetype"),
    local('TT_Commons');
}
@font-face{
    font-family: 'TT_Commons_Light';
    src: url("../../fonts/TT_Commons_Light/36A90A_0_0.ttf") format("truetype"),
    local('TT_Commons');
}
@font-face{
    font-family: 'TT_Commons_Regular';
    src: url("../../fonts/TT_Commons_Regular/36ADA0_0_0.ttf") format("truetype"),
    local('TT_Commons');
}

/* inherit color */
.color-inherit {
    color: inherit;
}

/* brand color */
.color-492{
    color: #0F2633;
}
.background-color-492{
    background-color: #0F2633;
}

/* white */
.color-738{
    color: #FFFFFF;
}
.background-color-738{
    background-color: #FFFFFF;
}

/* 50% */
.color-366{
    color: #7F7F7F;
}
.background-color-366{
    background-color: #7F7F7F;
}

/* 75% */
.color-565{
    color: #BFBFBF;
}
.background-color-565{
    background-color: #BFBFBF;
}

/* 95% */
.color-191{
    color: #F2F2F2;
}
.background-color-191{
    background-color: #F2F2F2;
}

/* Transparent */
.background-color-transparent{
    background-color: transparent;
}

/* - - - - - - - - - - */

/* shadow */
.shadow{
    box-shadow: 0px 6.25px 50px -25px #000000;
    /*box-shadow: 0px 6.25px 37.5px 0px #DFDFDF;*/
}

/* border radius */
.border-radius-149{
    border-radius: 5px;
}
.border-radius-895{
    border-radius: 50%;
}

/* border */
.border{
    border: 1px solid #F0F0F0;
}
.border-top{
    border-top: 1px solid #F0F0F0;
}
.border-bottom{
    border-bottom: 1px solid #F0F0F0;
}
.border-left{
    border-left: 1px solid #F0F0F0;
}
.border-right{
    border-right: 1px solid #F0F0F0;
}

/* border required */
.border-required{
    border: 1px solid red;
}

.color-error {
    color: red;
}
