html, body{
    margin: 0px; /* removes default margin around website */
    text-align: center; /* centers all content */
    height: 100%; /* makes body 100% height */
    width: 100%; /* makes body 100% width */
    letter-spacing: 0.0em; /* spaces text */
    -webkit-font-smoothing: antialiased; /* makes font thin */
}

/* font family & weight */
h1, h2, h3, h4, h5, h6{
    font-family: 'TT_Commons_Bold';
    font-weight: 500;
}
p, a, select, button, input, textarea{
    font-family: 'TT_Commons_Regular';
    font-weight: 300;
}

/* font size & line height */
h1{
    font-size: 50rem;
}
h2, h3, h4{
    font-size: 30px;
    line-height: 30.5px;
}
h5, h6, p, a, select, button, input, textarea{
    font-size: 20px;
    line-height: 24.5px;
}

/*font margin*/
h1, h2, h3, h4, h5, h6, p{
    margin: -6.25px 0px; /*0px*/
}

/*other*/
a{
    text-decoration: none; /* removes default underline */
}
select{
    -webkit-appearance: none; /* removes arrows to right */
    outline:none; /* removes blue highlight when selected */
    border:none; /* removes default border */
    border-radius: 0px; /* removes rounded corners */
    cursor:pointer; /* turns cursor into finger on hover */
}
button{
    outline:none; /* removes blue highlight when selected */
    border:none; /* removes default border */
    cursor:pointer; /* turns cursor into finger on hover */
}
input, textarea{
    outline:none; /* removes blue highlight when selected */
    border:none; /* removes default border */
}
input::placeholder {
    color: #7F7F7F;
}

.pointer{
    cursor: pointer;
}

.no-select{
    user-select: none;
}

#button:hover{
    opacity: 1;
}

#checkout-button:hover{
    opacity: 1;
}

.overflow-hidden{
    overflow: hidden;
}

.overflow-x-scroll{
    overflow-x: scroll;
}

.overflow-y-scroll{
    overflow-y: scroll;
}

.no-outline{
    outline:none;
}

::-webkit-scrollbar {
    display: none;
}

.border-box{
    box-sizing: border-box;
}
