#countdown-grid{
    /*grid-gap: 12.5px;*/
    display: grid;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    grid-template-rows: auto 12.5px auto;
    grid-template-areas:
    ". days hours minutes seconds ."
    ". . . . . ."
    ". days-tag hours-tag minutes-tag seconds-tag .";
}

    #days, #hours, #minutes, #seconds, #days-2, #hours-2, #minutes-2, #seconds-2{
        font-family: 'TT_Commons_Bold';
        font-weight: 500;
        font-size: 50rem;
    }

    #days, #days-2{
        grid-area: days;
    }
    #hours, #hours-2{
        grid-area: hours;
    }
    #minutes, #minutes-2{
        grid-area: minutes;
    }
    #seconds, #seconds-2{
        grid-area: seconds;
    }
    #days-tag{
        grid-area: days-tag;
    }
    #hours-tag{
        grid-area: hours-tag;
    }
    #minutes-tag{
        grid-area: minutes-tag;
    }
    #seconds-tag{
        grid-area: seconds-tag;
    }

/*media queries*/
@media screen and (min-width: 0px) and (max-width: 600px){
    #days, #hours, #minutes, #seconds, #days-2, #hours-2, #minutes-2, #seconds-2{
        line-height: 30.5px; /* adjusts H1 line height for 30px */
    }
}

@media screen and (min-width: 600px) and (max-width: 900px){
    #days, #hours, #minutes, #seconds, #days-2, #hours-2, #minutes-2, #seconds-2{
        line-height: 36.5px; /* adjusts H1 line height for 40px */
    }
}

@media screen and (min-width: 900px){
    #days, #hours, #minutes, #seconds, #days-2, #hours-2, #minutes-2, #seconds-2{
        line-height: 42.5px; /* adjusts H1 line height for 50px */
    }
}
