#choose-when-you-work-center{
    display: grid;
}
    /* how & why */
    #choose-when-you-work-center-1{
        grid-area: choose-when-you-work-center-1;
    }
    #choose-when-you-work-center-2{
        grid-area: choose-when-you-work-center-2;
    }

@media screen and (min-width: 0px) and (max-width: 600px){
    /* how & why */
    #choose-when-you-work-center{
        grid-template-columns: 1fr;
        grid-template-rows: auto 50px auto;
        grid-template-areas:
        "choose-when-you-work-center-1"
        "."
        "choose-when-you-work-center-2";
    }
}

@media screen and (min-width: 600px) and (max-width: 900px){
    /* how & why */
    #choose-when-you-work-center{
        grid-template-columns: 1fr 25px 1fr;
        grid-template-areas:
        "choose-when-you-work-center-1 . choose-when-you-work-center-2";
    }
}

@media screen and (min-width: 900px){
    /* how & why */
    #choose-when-you-work-center{
        grid-template-columns: 1fr 25px 1fr;
        grid-template-areas:
        "choose-when-you-work-center-1 . choose-when-you-work-center-2";
    }
}
