#home_viewport{
    min-height: calc(100vh - 75px); /* % not working, subtracts header height from viewport div*/
    background-size: cover; /* makes background image cover viewport div */
    background-position: center !important; /* centers background image */
}

.arrow-up {
    transform: rotate(180deg);
}
