#earn-more-money-grid{
    display: grid;
}
    #earn-more-money-grid-1{
        grid-area: earn-more-money-grid-1;
    }
    #earn-more-money-grid-2{
        grid-area: earn-more-money-grid-2;
        z-index: 1;
    }

@media screen and (min-width: 0px) and (max-width: 600px){
    #earn-more-money-grid{
        grid-template-columns: 1fr;
        grid-template-rows: auto 25px auto;
        grid-template-areas:
        "earn-more-money-grid-1"
        "."
        "earn-more-money-grid-2";
    }
}

@media screen and (min-width: 600px) and (max-width: 900px){
    #earn-more-money-grid{
        grid-template-columns: 1fr 25px 1fr;
        grid-template-areas:
        "earn-more-money-grid-1 . earn-more-money-grid-2";
    }
}

@media screen and (min-width: 900px){
    #earn-more-money-grid{
        grid-template-columns: 1fr 25px 1fr;
        grid-template-areas:
        "earn-more-money-grid-1 . earn-more-money-grid-2";
    }
}
