#reviews-grid{
    display: grid;
}

    /*reviews*/
    #reviews-grid-1{
        grid-area: reviews-grid-1;
    }
    #reviews-grid-2{
        grid-area: reviews-grid-2;
    }
    #reviews-grid-3{
        grid-area: reviews-grid-3;
    }

@media screen and (min-width: 0px) and (max-width: 600px){
    #reviews-grid{
        grid-template-columns: 1fr;
        grid-template-areas:
        "reviews-grid-1"
        "reviews-grid-2"
        "reviews-grid-3";
    }
}

@media screen and (min-width: 600px) and (max-width: 900px){
    #reviews-grid{
        grid-template-columns: 1fr;
        grid-template-areas:
        "reviews-grid-1"
        "reviews-grid-2"
        "reviews-grid-3";
    }
}

@media screen and (min-width: 900px){
    #reviews-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "reviews-grid-1 reviews-grid-1 reviews-grid-1 . ."
        ". . reviews-grid-2 reviews-grid-2 reviews-grid-2"
        "reviews-grid-3 reviews-grid-3 reviews-grid-3 . .";
    }
}
