#review-apply{
    display: grid;
}

    #review-apply-1{
        grid-area: review-apply-1;
    }
    #review-apply-2{
        grid-area: review-apply-2;
    }

@media screen and (min-width: 0px) and (max-width: 600px){
    /*review*/
    #review-apply{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
        "review-apply-1"
        "review-apply-2";
    }
}

@media screen and (min-width: 600px) and (max-width: 900px){
    /*review*/
    #review-apply{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "review-apply-1 review-apply-2";
    }
}

@media screen and (min-width: 900px){
    /* review */
    #review-apply{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "review-apply-1 review-apply-2";
    }
}
